* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
    vertical-align: middle;
}


:root {
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #13131a;
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);



    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    line-height: 25px;
    color: var(--normal);
    background: var(--bg);
}

/* .container {
    width: 80%;
} */
section {
    padding: 30px 0px;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;

}

a {
    text-decoration: none;
    color: var(--normal);
}

a:hover {
    color: var(--primary);
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    line-height: 19px;
}

h1 {
    font-size: 38px;

}

h2 {
    font-size: 32px;

}

h3 {
    font-size: 26px;

}

h4 {
    font-size: 20px;

}

h5 {
    font-size: 18px;

}

button.btn {
    display: inline-block;
    background-color: var(--primary);
    color: var(--black);
    padding: 8px 32px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 600;
    margin: 18px 0px;
}

button.btn:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

.border_bottom {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    margin-bottom: 2.5rem;
    padding: 10px 0px;
}


/* ================================================== */


section.main-bannar-area {
    padding: 0;
}
.main-nav {
    padding: 20px 0px;
    background: transparent;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.mainnavActive {
    padding: 10px 0px;
    /* background: var(--primary); */
    background: var(--black);
}

button.navbar-toggler span i {
    color: #ffffff;
}

nav.navbar.navbar-expand-lg.navbar-expand-lg a {
    text-decoration: none;
    font-weight: bold;
    margin: 0px 15px;
    position: relative;
    letter-spacing: 1px;
    padding: 15px 0px 5px 0px;
    position: relative;
}
li.nav-item a.nav-link.after::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0%;
    bottom: 0;
    background: var(--primary);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
    border-radius: 10px;
}
li.nav-item a.nav-link.after:hover::after{
transform: scaleX(1);
transform-origin: left;
}

li.nav-item {
    border-bottom: 2px solid transparent;
}

h2.logo {
    font-weight: 600;
}

h2.logo:hover {
    font-weight: 600;
    transform: rotateX(360deg);
    transition-duration: all 1.3s;
}

/* ===============  Bannar Part  ============================= */

section.bannar-part {
    position: relative;
}
.bannar-right {
    margin-top: 35%;
}
/* .bannar-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
} */

.bannar-right h2 {
    font-weight: 600;
    margin: 32px 0px;
}

.bannar-right span.typing {
    color: var(--primary);
    font-weight: bold;
}

/* =====================  About Me  ============================== */

section.about-part {
    position: relative;
}

.heading {
    text-align: center;
}
.about-right {
    margin-top: 35px;
}

/* .about-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
} */

.about-right span.typing-2 {
    color: aqua;
    font-weight: bold;
}

.about-left {
    border: 2px solid var(--primary);
    border-radius: 50%;
    overflow: hidden;
    width: 75%;
}

/* ================  My Service  ========================= */

.service {
    background: var(--primary);
    padding: 15px 35px;
    margin: 10px 0px;
}

.service .icon {
    width: 55px;
    margin: 6px auto;
    border: 1px solid #177d71;
    border-radius: 50%;
    padding: 7px;
}

.service-text {
    text-align: center;
    color: #000;
}

.service-text h4 {
    font-weight: bold;
}

button.btn.learn {
    background: #000;
    border-radius: 50px;
    color: #fff;
}

button.btn.learn:hover {
    background: var(--primary);
    border: 1px solid #000;
    color: #000;
}

/* ====================  Skills  ================================= */


.progress-part {
    width: 60%;
    margin: 20px auto;

}

.progress {
    width: 100%;
    height: 22px;
    background-color: #ffffff;
    border-radius: 10px;

}

.progress .progress-bar {
    width: 0;
    opacity: 1;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    position: relative;
    transition: all 5s;
}

.progress .progress-bar span {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #fff;
}

.progress-part p {
    margin: 20px 0px 5px 0px;
}

/* =====================  My Portfolio  ============================================ */

section.portfolio-part .fancy-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--black);
    border-radius: 2rem;
}

section.portfolio-part .fancy-box a {
    height: 15rem;
    width: 20rem;
    margin: 1.2rem;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 3px 5px var(--primary);
}

section.portfolio-part .fancy-box a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.portfolio-part .fancy-box a img:hover {
    transform: scale(1.4);
}

/* ===========================  FAQ Part  =========================================================== */


.faqs {
    text-align: center;
    margin: 2rem 0rem;
}

.faqs_container {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--black);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faq {
    padding: 23px 32px 12px 32px;
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background-color: var(--primary);
    color: var(--bg);
    text-align: justify;
    cursor: pointer;
    border-radius: 1rem;
    position: relative;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.23;
    font-weight: bold;
}


.faq_icon {
    align-self: flex-start;
    font-size: 1.3rem;

}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

/* for showing ans on click */

.faq.open p {
    display: block;
}

/* =============================  Team Section  ========================================== */

.team-part .team {
    background: #222222;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.team-box {
    padding: 30px;
    transition: all 0.3s ease-in-out;
}

.team-part .team .team-img {
    text-align: -webkit-center;
}

.team-part .team .team-img img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 5px solid var(--primary);
}

.team-part .team .team-text {
    margin-top: 20px;
}

.team-part .team .team-text h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.team-part .team:hover .team-box{
    background: var(--primary);
    transform: scale(1.05);
    cursor: pointer;
}
.team-part .team:hover .team-img img {
    border: 5px solid #fff;
}

/* =============================  Contact Section  ===================================== */


.left-text-top {
    margin-bottom: 35px;
}
.left-text-part {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.left-text-part .icon {
    margin-right: 10px;
    width: 40px;
}

.left-text-part .icon i {
    font-size: 30px;
    color: var(--primary);
}


.left-text p {
    margin-bottom: 0px;
}

.left-text {
    /* margin-left: 15px; */
    padding: 10px 0px;
}

.left-text h5 {
    margin: 0;
}


.contact .contact-form .contact-form-input form .first-input{
    display: inline-flex;
    width: 100%;
}
.contact .contact-form .contact-form-input form .first-input input {
    margin: 10px 20px 22px 0px;
    height: 45px;
    padding: 15px;
    letter-spacing: 2px;
    background: #edf0f5;
    border: none;
}
.contact .contact-form .contact-form-input form .first-input input:last-child{
    margin-right: 0px;
}

.contact .contact-form .contact-form-input form .second-input input:last-child{
    margin-right: 0px;
}

.contact .contact-form .contact-form-input form .third-input textarea{
    margin: 10px 20px 22px 0px;
    padding: 15px;
    letter-spacing: 2px;
    font-size: 18px;
    background: #edf0f5;
    border: none;
}
button.btn.submit {
    margin: 0;
}


/* =============================  Footer Part  ========================================= */


footer {
    background: var(--black);
}

.footer-item-one h5 {
    color: var(--primary);

}


footer .footer-item-one h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #fc7100;
    border-bottom: 2px solid rgb(255, 255, 255);
}

footer .footer-item-one {
    margin: 50px 0px;
}

footer .footer-item-one .footer-item-one-menu {
    margin-top: 25px;
    line-height: 15px;

}

footer .footer-item-one .footer-item-one-menu p a i span {
    margin-left: 10px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

/* footer .footer-item-one .footer-item-one-menu p i {
    color: #fc7100;
    transition: all .5s;
} */

/* footer .footer-item-one .footer-item-one-menu p i:hover {
    transform: translateX(10px);
    transition: all .5s;

} */

footer .footer-item-one .footer-item-one-menu p a {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: none;

}

footer .footer-item-one .footer-item-last-menu {
    margin-top: 25px;
    line-height: 15px;

}

footer .footer-item-one .footer-item-last-menu p {
    color: #ffffff;

}

footer .footer-item-one .footer-item-last-menu p i {
    color: var(--primary);
}

footer .footer-item-one .footer-item-last-menu p i span {
    margin-left: 10px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 17px;
}

footer .footer-item-one .footer-item-last-menu p i span .phon {
    margin-left: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
}

footer .footer-item-one .footer-item-last-menu .phone {
    margin-left: 21px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
}


/* =========================  Footer Social  =============================================== */

ul.footer-social {
    display: flex;
}

li.footer-social-icon a i {
    padding: 10px 17px;
    font-size: 16px;
    line-height: 25px;
    color: var(--primary);
}

li.footer-social-icon:hover i {
    color: #ffffff;

}

ul.footer-social i.fab.fa-facebook-f {
    padding-left: 0;
}

/* ===================  Copy-Right====================================== */
.copyright {
    padding: 25px 0px;
    background: var(--black);
    border-top: var(--border);
}

.copyright .copyright-text p {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}






